@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul id="messagesList">
    </ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script>
    console.log('from settings ' + @Json.Serialize(Configuration["Urls:BaseUrl"]));
    var connectionBaseUrl = @Json.Serialize(Configuration["Urls:BaseUrl"]);
    initiateConnection(connectionBaseUrl);
</script>
